// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import './components/global';
@import './components/typography';
@import './components/button';
@import './components/header';
@import './components/image';
@import './components/tweet';
@import './components/new_tweet';


.home-aside{
  width: 180px;
  background-color: $primary-alternative-color;
  height: 100%;
  border: 1px solid $background1-color;
  display: block;
  div {
    margin-bottom: 8px;
  }
  /* display: grid;
  grid-auto-flow: auto;
  grid-template-rows: repeat(6, max(38px)) ;
  align-items: center;*/
  padding: 4px 16px;
  a {
    text-decoration: none;
  }
  .tweetable{
    color: $secundary-text-color;
    &__text{
      color: $primary-color;
    }
  }
}

.tweet__icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  img {
    width: 20px;
    height: 16px;
  }
  a {
    color: black;
  }
}
.limit__button{
  display: flex;
}
.home {
  display:grid;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
  grid-template-areas:
    ".home-aside .home-header",
    ".home-aside .home-content"
  ;
  max-width: 780px;
}